
@{
    ViewData["Title"] = "ErrorEliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar Contacto
    </div>
    <div class="card-body">
        <h4>ERROR, No se pudo eliminar al contacto...</h4>
        <a asp-action="Listar" asp-controller="Mantenedor" class="btn btn-secondary">Volver</a>
    </div>
</div>